html{
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background-color: #e5e5e5;
}

a {
  color: #0C3B2E;
  text-decoration: none;
}

a:hover {
  color: #609773;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #0C3B2E;
  border-top-color: #d1e6f9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0C3B2E;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #298ce5;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.datepicker-dropdown {
  padding: 20px !important;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #fff;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  z-index: 996;
}
#topbar.topbar-scrolled {
  top: -40px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  top: 0px;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}
#header.header-scrolled {
  top: 0;
}
#header .logo {
  font-size: 20px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}
#header .logo a {
  color: 0C3B2E;
}
#header .logo img {
  max-height: 40px;
}

@media (min-width: 790px) {
  #header .container h1.logo a {
    font-size: 30px;
  }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 8px 0 8px 20px;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #2c4964;
  white-space: nowrap;
  transition: 0.3s;
  border-bottom: 2px solid #fff;
  padding: 5px 2px;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #0C3B2E;
  border-color: #0C3B2E;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 20px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #082744;
  border: none;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #0C3B2E;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #2c4964;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(28, 47, 65, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile > ul > li {
  padding: 0;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #2c4964;
  border: none;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #0C3B2E;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #0C3B2E;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# JUMBOTRON
--------------------------------------------------------------*/
.jumbotron-potensi{
  /* margin-top: 100px; */
  margin-top: -60px;
  height: 250px;
  background-image: url(../img/potensi/jumbotron-potensi-asli.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: -90px -1170px;
  width: 100%;
}

.jumbotron-potensi::after{
  content: " ";
  width: 100%;
  height: inherit;
  background-color: #0c3b2e91;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(20, 20, 20, .5); */
}

.jumbotron h1{
  font-size: 18px;
  font-weight: bold;
  color: #FFBA00;
  margin-top: 150px;
  position: relative;
  z-index: 1;
  text-align: center;
}

@media (min-width: 790px) {
  .jumbotron-potensi{
    height: 350px;
  }
  .jumbotron h1{
    font-size: 27px;
    margin-top: 200px;
  }
}

/*--------------------------------------------------------------
POTENSI-WISATA.HTML
--------------------------------------------------------------*/

#potensiwisata {
  padding: 0;
}
#potensiwisata .col-xl-7, #potensiwisata .col-xl-5{
  padding: 2px 20px 2px 20px;
}
#potensiwisata h4 {
  padding-top: 20px;
  text-align: left;
  font-weight: 600;
  color: #609773;
  font-size: 28px;
}
#potensiwisata img {
  padding-bottom: 15px;
}

#potensiwisata p {
  font-size: 15px;
  padding-bottom: 5px;
}

@media (min-width: 800px) {

  #potensiwisata .col-xl-7, #potensiwisata .col-xl-5 {
    padding: 20px 30px;
  }
  #potensiwisata h4 {
    text-align: left;
    font-weight: 600;
    color: #609773;
    font-size: 28px;
  }
  
  #potensiwisata img {
    transition: all ease-in-out 0.4s;
  }
  #potensiwisata img:hover {
      transform: scale(1.1);
  }
  
  #potensiwisata p {
    font-size: 15px;
    padding-bottom: 10px;
  }
}
/*--------------------------------------------------------------
STATISTIK.HTML
--------------------------------------------------------------*/
.statistik .statistik-penduduk .col-md-3{
  background-color: #609773;
  width: fit-content;
  padding: 0 25px;
  border-radius: 25px;
  margin: 10px 20px;
}

.statistik .statistik-penduduk img{
  width: 70px;
  margin: 0;
}

.statistik .statistik-penduduk .nilai{ 
  width: 200px;
  padding: 10px;
}

.statistik .statistik-penduduk .row h5{
  color: white;
  font-size: medium;
  font-weight: bold;
  text-align: left;
  padding-left: 0;
}

.statistik .row h3{
  font-size: 18px;
}

.statistik .statistik-penduduk .col{
  padding: 0;
}

.statistik .statistik-penduduk p{
  font-weight: bold;
  margin: 0;
  font-size: 6vh;
  line-height: 70px;
  height: 70px;
  width: fit-content;
  /* padding-left: 20px; */
  color: #fff;
}

.statistik .daftar-dusun table{
  margin: auto;
  margin-top: 40px;
}

.statistik .daftar-dusun th, .statistik .daftar-dusun td{
  border: solid black 1px;
  padding: 10px;
  font-size: small;
}

.statistik .daftar-dusun th:nth-child(2), .statistik .daftar-dusun td:nth-child(2){
  border: solid black 1px;
  padding: 10px;
  width: 60%;
}

.statistik .daftar-dusun th:nth-child(3), .statistik .daftar-dusun td:nth-child(3){
  border: solid black 1px;
  padding: 10px;
  text-align: center;
}

.statistik .daftar-dusun th{
  background-color: yellow;
}

@media (min-width: 800px) {
  .statistik .statistik-penduduk .col-md-3{
    background-color: #609773;
    width: fit-content;
    padding: 0 35px;
    border-radius: 25px;
    margin: 0 20px;
  }
  
  .statistik .statistik-penduduk img{
    width: 100px;
    margin: 0;
  }
  
  .statistik .statistik-penduduk .nilai{ 
    width: 200px;
    padding: 10px 25px 10px 10px;
  }
  
  .statistik .statistik-penduduk .row h5{
    color: white;
    font-size: large;
    font-weight: bold;
    text-align: left;
    padding-left: 0;
  }
  
  .statistik .statistik-penduduk .col{
    padding: 0;
  }
  
  .statistik .statistik-penduduk p{
    font-weight: bold;
    margin: 0;
    font-size: 8vh;
    line-height: 100px;
    height: 100px;
    width: fit-content;
    padding-left: 20px;
    color: #fff;
  }
  
  .statistik .daftar-dusun table{
    margin: auto;
    margin-top: 40px;
  }
  
  .statistik .daftar-dusun th, .statistik .daftar-dusun td{
    border: solid black 1px;
    padding: 10px;
  }
  
  .statistik .daftar-dusun th:nth-child(2), .statistik .daftar-dusun td:nth-child(2){
    border: solid black 1px;
    padding: 10px;
    width: 60%;
  }
  
  .statistik .daftar-dusun th:nth-child(3), .statistik .daftar-dusun td:nth-child(3){
    border: solid black 1px;
    padding: 10px;
    text-align: center;
  }
  
  .statistik .daftar-dusun th{
    background-color: yellow;
  }
}

/* -----------------------------------------------------------
# Gallery
--------------------------------------------------------------*/

.gallery {
  padding-top: 0;
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
.gallery .card-img-top {
  transition: all ease-in-out 0.4s;
}
.gallery .card-img-top:hover {
  transform: scale(1.1);
}
.gallery .potensi-wilayah-batas.card {
  width: 15rem;
}
.gallery .potensi-wilayah-batas .card-img-top {
  padding-bottom: 0;
}
.gallery .potensi-wilayah-batas .card-text {
  padding-top: 0;
  font-size: 15px;
}

@media (min-width: 800px) {
  .gallery {
    overflow: hidden;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
  }
  .gallery .card-img-top {
    transition: all ease-in-out 0.4s;
  }
  .gallery .card-img-top:hover {
    transform: scale(1.1);
  }

  .gallery .potensi-wilayah-batas.card {
    width: 20rem;
  }
}

/*------------------
PANEL section
---------------------*/
.info-panel{
  background-color: #609773;
  box-shadow: 0 3px 20px rgba(0, 0, 0, .5);
  border-radius: 12px;
  margin-top: 120px;
  padding: 30px;
}

.info-panel img{
  width: 80px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
  color: #FFBA00;
}

.info-panel h4{
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 35px;
  font-weight: bold;
  color: #ffffff;
  /* margin-left: 20%; */
}

@media (min-width: 800px) {
  .info-panel{
    background-color: #609773;
    box-shadow: 0 3px 20px rgba(0, 0, 0, .5);
    border-radius: 12px;
    margin-top: 120px;
    padding: 30px;
  }
  
  .info-panel img{
    width: 80px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
    color: #FFBA00;
  }
  
  .info-panel h4{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    /* margin-left: 20%; */
  }
}
/* .info-panel p{
  font-size: 16px;
  font-weight: 200;
  color: #ffffff;
  margin: -5px 50px 50px 5px;
} */

/*--------------------------------------------------------------
POTENSI.HTML section potensi
--------------------------------------------------------------*/
.potensi, .komoditi{
  margin-bottom: 0;
}

.potensi-wilayah, .potensi-komoditi{
  margin: 50px 0;
  padding: 30px;
}

.potensi-wilayah, .potensi-komoditi:first-child{
  margin: 0;
  padding:30px;
}

.potensi-wilayah.berwarna, .potensi-komoditi.berwarna{
  background-color: #6097737b;
  border-radius: 20px;
}

.potensi-wilayah.berwarna h2, .potensi-komoditi.berwarna h2{
  margin-top: 20px;
}

.potensi-wilayah img, .potensi-komoditi img{
  width: 100%;
}

.potensi-wilayah h2, .potensi-komoditi h2{
  font-size: 18px;
}

.potensi-wilayah p, .potensi-komoditi p{
  font-size: 12px;
}

.potensi-wilayah h2, p, .potensi-komoditi h2{
  color: #0C3B2E;
}

.potensi a{
  text-decoration: underline;
}

@media (min-width:790px){
  .potensi, .komoditi{
    margin-bottom: 200px;
  }
  
  .potensi-wilayah, .potensi-komoditi{
    margin: 50px 0;
    padding: 30px;
  }
  
  .potensi-wilayah.berwarna, .potensi-komoditi.berwarna{
    background-color: #6097737b;
    border-radius: 20px;
  }
  
  .potensi-wilayah img, .potensi-komoditi img{
    width: 100%;
  }
  
  .potensi-wilayah h2, p, .potensi-komoditi h2{
    color: #0C3B2E;;
  }

  .potensi-wilayah h2, .potensi-komoditi h2{
    font-size: 25px;
  }

  .potensi-wilayah p, .potensi-komoditi p{
    font-size: 15px;
  }
  
  .potensi a{
    text-decoration: underline;
  }
}


/*--------------------------------------------------------------
POTENSI-WILAYAH.HTML section potensi
--------------------------------------------------------------*/
.potensi-wilayah-batas h1, .potensi-wilayah-batas img{
  text-align: center;
}

.potensi .card{
  width: 17rem;
}

.potensi-wilayah-batas{
  color: #0C3B2E;
}

.potensi-wilayah-batas h1{
  margin: 0px 0 10px;
  font-weight: bold;
  font-size: 20px;
}
.potensi-wilayah-batas img{
  padding: 30px;
  width: 100%;
}
.card.potensi-wilayah-batas img{
  padding: 10px 0;
}

.potensi-wilayah-batas p{
  font-size: 12px;
}

.card.potensi-wilayah-batas{
  margin: 15px;
}

.potensi-wilayah-batas h5{
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
  font-size: 16px;
}

@media (min-width:800px){
  .potensi-wilayah-batas h1, .potensi-wilayah-batas img{
    text-align: center;
  }
  
  .potensi .card{
    width: 25rem;
  }
  
  .potensi-wilayah-batas{
    color: #0C3B2E;
  }
  
  .potensi-wilayah-batas h1{
    margin: 10px 0 40px;
    font-weight: bold;
    font-size: 27px;
  }
  .potensi-wilayah-batas img{
    padding: 0;
    width: 100%;
  }
  .card.potensi-wilayah-batas img{
    padding: 10px 0;
  }

  .potensi-wilayah-batas p{
    font-size: 16px;
  }
  
  .card.potensi-wilayah-batas{
    margin: 15px;
  }
  
  .potensi-wilayah-batas h5{
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
  }
}

/*--------------------------------------------------------------
SARANA.HTML
--------------------------------------------------------------*/
.potensi.sarana{
  margin-bottom: 0;
}

.potensi.sarana h2{
  font-size: 20px;
}

.potensi.sarana h5{
  font-size: 16px;
}

.potensi.sarana p, .potensi.sarana a{
  font-size: 12px;
}

.sarana .card{
  width: 16rem;
}

.sarana-prasarana{
  padding: 0;
}

.potensi.sarana #masjid, .statistik .daftar-dusun{
  margin-bottom: 0;
}

.sarana img{
  max-width: 100%;
  /* display: none; */
  /* box-shadow: 2px 2px 20px #949090bc; */
}

.sarana .btn{
  background-color: #0C3B2E;
}


.sarana a{
  text-decoration: none;
  color: #fff;
}

.sarana .btn:hover{
  background-color: #609773;
}

#sekolah{
  margin: 100px 0;
  padding: 0 30px;
  background-color: #fff;
}

#masjid, .status-perkawinan, .daftar-dusun{
  margin: 100px 0;
  background-color: #fff;
  padding: 50px 0 100px;
}

#sekolah img{
  width: 100%;
  margin-top: 70px;
}

#puskesmas .btn{
  margin-top: 0px;
  margin-bottom: 30px;
}

#masjid .card{
  background-color: #609773;
}

#masjid .card h5, #masjid .card p{
  color: #fff;
}

.sarana #masjid .btn{
  background-color: #FFBA00;
}

.sarana #masjid .btn:hover{
  background-color: #eeff6e;
}

.sarana #masjid a{
    color: #0C3B2E;
}

@media (min-width:800px) {
  .potensi.sarana{
    margin-bottom: 0;
  }

  .potensi.sarana h2{
    font-size: 24px;
  }

  .potensi.sarana h5{
    font-size: 20px;
  }

  .potensi.sarana p, .potensi.sarana a{
    font-size: 16px;
  }

  .sarana-prasarana{
    padding: 0;
  }

  .sarana .card{
    width: 20rem;
  }

  .potensi.sarana #masjid, .statistik .daftar-dusun{
    margin-bottom: 0;
  }
  
  .sarana img{
    max-width: 100%;
    /* display: none; */
    /* box-shadow: 2px 2px 20px #949090bc; */
  }
  
  .sarana .btn{
    background-color: #0C3B2E;
  }
  
  .sarana a{
    text-decoration: none;
    color: #fff;
  }
  
  .sarana .btn:hover{
    background-color: #609773;
  }
  
  #sekolah,#masjid, .status-perkawinan, .daftar-dusun{
    margin: 100px 0;
    background-color: #fff;
    padding: 50px 0 100px;
  }
  
  #sekolah img{
    width: 100%;
    margin-top: 70px;
  }

  #puskesmas .btn{
    margin-top: 50px;
    
  }
  
  #masjid .card{
    background-color: #609773;
  }
  
  #masjid .card h5, #masjid .card p{
    color: #fff;
  }
  
  .sarana #masjid .btn{
    background-color: #FFBA00;
  }
  
  .sarana #masjid .btn:hover{
    background-color: #eeff6e;
  }
  
  .sarana #masjid a{
      color: #0C3B2E;
  }
}

/*--------------------------------------------------------------
EVENT.HTML
--------------------------------------------------------------*/
.event .teks .pembuka{
  font-size:1.2rem; 
  font-weight:850;
  color: #0C3B2E;
  position: relative;
  
}

.event .search_wrap{
  width: 300px;
  position: relative;
  margin-top: 50px;
}

.event .search_wrap .search_box{
	position: relative;
	width: 70%;
	height: 60px;
  border: #6D9773;
}

.event .search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 60%;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 18px;
}

.event .search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 60%;
	background: #0C3B2E;
	z-index: 1;
	cursor: pointer;
}

.event .search_wrap .search_box .btn:hover{
	background: #FFBA00;	
}

.event .search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #FFBA00;
	font-size: 20px;
}

.event .search_wrap.search_wrap_4 .search_box .btn{
	left: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.event .search_wrap.search_wrap_4 .search_box .input{
  padding-left: 65px;
  background-color: #6D9773;
  color: #FFBA00;
}

/*support google chrome*/
.event .search_wrap.search_wrap_4 .search_box .input::-webkit-input-placeholder{
	font-size: 12px;
}
 
/*support mozilla*/
.event .search_wrap.search_wrap_4 .search_box .input:-moz-input-placeholder{
	font-size: 12px;
}
 
/*support internet explorer*/
.event .search_wrap.search_wrap_4 .search_box .input:-ms-input-placeholder{
	font-size: 12px;
}

.event .search_wrap.search_wrap_4 .search_box .input::-webkit-input-placeholder{
  color: #FFF;
}

.event{
  margin-bottom: 200px;
}

.event-kegiatan{
  margin: 50px 0;
  padding: 30px;
  background-color: #fff;
}

.event-kegiatan img{
  width: 100%;
}

.event-kegiatan p{
  color: #0C3B2E;
}

.event-kegiatan h2{
  color: #0C3B2E;
  margin-top: 20px;
  
}
/* ukuran desktop */
@media (min-width:800px) {
  .event .teks .pembuka{
    font-size:1.6rem; 
    font-weight:850;
    color: #0C3B2E;
    position: relative;
    
  }
  
  .event .search_wrap{
    width: 500px;
    position: relative;
    margin-top: 50px;
  }
  
  .event .search_wrap .search_box{
    position: relative;
    width: 70%;
    height: 60px;
    border: #6D9773;
  }
  
  .event .search_wrap .search_box .input{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 60%;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
  }
  
  .event .search_wrap .search_box .btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60%;
    background: #0C3B2E;
    z-index: 1;
    cursor: pointer;
  }
  
  .event .search_wrap .search_box .btn:hover{
    background: #FFBA00;	
  }

  
/*support google chrome*/
.event .search_wrap.search_wrap_4 .search_box .input::-webkit-input-placeholder{
	font-size: 15px;
  padding-left: 0;
}
 
/*support mozilla*/
.event .search_wrap.search_wrap_4 .search_box .input:-moz-input-placeholder{
	font-size: 15px;
}
 
/*support internet explorer*/
.event .search_wrap.search_wrap_4 .search_box .input:-ms-input-placeholder{
	font-size: 15px;
}
  
  .event .search_wrap .search_box .btn.btn_common .fas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #FFBA00;
    font-size: 20px;
  }
  
  .event .search_wrap.search_wrap_4 .search_box .btn{
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .event .search_wrap.search_wrap_4 .search_box .input{
    padding-left: 80px;
    background-color: #6D9773;
    color: #FFBA00;
  }
  
  .event .search_wrap.search_wrap_4 .search_box .input::-webkit-input-placeholder{
    color: #FFF;
  }
  
  .event{
    margin-bottom: 200px;
  }
  
  .event-kegiatan{
    margin: 50px 0;
    padding: 30px;
    background-color: #fff;
  }
  
  .event-kegiatan img{
    width: 100%;
  }
  
  .event-kegiatan h2, p{
    color: #0C3B2E;
  }

  
}

/*--------------------------------------------------------------
CONTACT.HTML
--------------------------------------------------------------*/

.hubungi-kami{
  box-sizing: border-box;
  margin: 0;
  background: #6D9773;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 10px;
  margin-top: -100px;
} 

.hubungi-kami .container{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: block;
  overflow: hidden;
  width: 50px;
  max-width: 100%;
  min-height: 450px;
  min-width: 330px;
  margin-top: 50px;
}

.hubungi-kami .card-container{
  display: block;
}

.hubungi-kami .left{
  display: flex;
  flex: 1;
  height: 460px;
  width: 330px;
  justify-content: center;
  align-items: center;
  background-color: #609773;
  color: #fff;
  margin-left: -12px;
}

.hubungi-kami .right{
  display: flex;
  flex: 1;
  height: 600px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.hubungi-kami .left-container{
  height: 50%;
  width: 80%;
  text-align: center;
  line-height: 22px;
}

.hubungi-kami .left p{
  font-size: 0.9rem;
  color: #fff;
}

.hubungi-kami .left h2{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hubungi-kami .right h2{
  color: #0C3B2E;
}

.hubungi-kami .right-container{
  width: 70%;
  height: 80%;
  text-align: center;
}

.hubungi-kami input{
  display: block;
  color: #0C3B2E;
}

.hubungi-kami textarea{
  display: block;
}

.hubungi-kami input, .hubungi-kami textarea{
  background-color: rgb(230, 230, 230);
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 0.8rem;
}

.hubungi-kami input:focus, .hubungi-kami textarea:focus{
  outline: 1px solid #609773;
}

.hubungi-kami .right-container button{
  border-radius: 20px;
  border: 1px solid #6D9773;
  background-color: #6D9773;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-out;
  cursor: pointer;
}

.hubungi-kami .right-container button:hover{
  opacity: 0.7;
  background-color: #FFBA00;
}

/* ukuran desktop */
@media (min-width:800px) {
  .hubungi-kami{
    box-sizing: border-box;
    margin: 0;
    background: #6D9773;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
    margin-top: -100px;
  } 
  
  .hubungi-kami .container{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 450px;
    min-width: 370px;
    margin-top: 50px;
  }
  
  .hubungi-kami .card-container{
    display: flex;
  }
  
  .hubungi-kami .left{
    display: flex;
    flex: 1;
    height: 600px;
    justify-content: center;
    align-items: center;
    background-color: #609773;
    color: #fff;
    margin-left: -12px;
  }
  
  .hubungi-kami .right{
    display: flex;
    flex: 1;
    height: 460px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
  }
  
  .hubungi-kami .left-container{
    height: 50%;
    width: 80%;
    text-align: center;
    line-height: 22px;
  }
  
  .hubungi-kami .left p{
    font-size: 0.9rem;
    color: #fff;
  }
  
  .hubungi-kami .left h2{
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .hubungi-kami .right h2{
    color: #0C3B2E;
  }
  
  .hubungi-kami .right-container{
    width: 70%;
    height: 80%;
    text-align: center;
  }
  
  .hubungi-kami input{
    display: block;
    color: #0C3B2E;
  }
  
  .hubungi-kami textarea{
    display: block;
  }
  
  .hubungi-kami input, .hubungi-kami textarea{
    background-color: rgb(230, 230, 230);
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-size: 0.8rem;
  }
  
  .hubungi-kami input:focus, .hubungi-kami textarea:focus{
    outline: 1px solid #609773;
  }
  
  .hubungi-kami .right-container button{
    border-radius: 20px;
    border: 1px solid #6D9773;
    background-color: #6D9773;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-out;
    cursor: pointer;
  }
  
  .hubungi-kami .right-container button:hover{
    opacity: 0.7;
    background-color: #FFBA00;
  }
}

/*--------------------------------------------------------------
PENGADUAN.HTML
--------------------------------------------------------------*/
.pengaduan .teks .pembuka{
  font-size:1.2rem; 
  font-weight:850;
  color: #0C3B2E;
  position: relative; 
}

.pengaduan-simbol{
  position: fixed;
  left: 0;
  top: 33%;
}

.pengaduan-simbol p{
  background-color: #FFBA00;
  display: inline-block;
  color: #fff;
  height: 36px;
  padding: 10px 24px 10px 7px;
  font-size: 12px;
}

.pengaduan-simbol button{
  margin-left: -28px;
  display: inline-block;
  border-radius: 55%;
  width: 40px;
  height: 40px;
  border: 1px solid #FFBA00;
  background-color: #FFBA00;
  color: #fff;
  cursor: pointer;
}

.pengaduan-simbol button img{
  width: 25px;
  height: 25px;
}

.pengaduan-simbol button:hover, .pengaduan-simbol p:hover{
  opacity: 0,7;
  border: 1px solid #6D9773;
  background-color: #6D9773;
}

.pengaduan{
  margin-bottom: 200px;
}

.pengaduan-kegiatan{
  margin: 50px 0;
  padding: 30px;
  background-color: #fff;
}

.pengaduan-kegiatan img{
  width: 100%;
}

.pengaduan-kegiatan p{
  color: #0C3B2E;
}

.pengaduan-kegiatan h2{
  color: #0C3B2E;
  margin-top: 20px; 
}

.pengaduan-kegiatan p.waktu{
  color: #0C3B2E;
  opacity: 0.5;
  font-size: 0.9rem;
}

/* ukuran desktop */
@media (min-width:800px) {
  .pengaduan .teks .pembuka{
    font-size:1.6rem; 
    font-weight:850;
    color: #0C3B2E;
    position: relative;
  }

  .pengaduan-simbol{
    position: fixed;
    left: 0;
    top: 33%;
  }
  
  .pengaduan-simbol p{
    background-color: #FFBA00;
    display: inline-block;
    color: #fff;
    height: 48px;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
  }
  
  .pengaduan-simbol button{
    margin-left: -33px;
    display: inline-block;
    border-radius: 55%;
    width: 50px;
    height: 50px;
    border: 1px solid #FFBA00;
    background-color: #FFBA00;
    color: #fff;
    cursor: pointer;
  }

  .pengaduan-simbol button img{
    width: 35px;
    height: 35px;
  }

  .pengaduan-simbol button:hover{
    opacity: 0,7;
    border: 1px solid #6D9773;
    background-color: #6D9773;
  }

  .pengaduan{
    margin-bottom: 200px;
  }

  .pengaduan-kegiatan{
    margin: 50px 0;
    padding: 30px;
    background-color: #fff;
  }

  .pengaduan-kegiatan img{
    width: 100%;
  }

  .pengaduan-kegiatan h2, p{
    color: #0C3B2E;
  }

  .pengaduan-kegiatan p.waktu{
    color: #0C3B2E;
    opacity: 0.5;
    font-size: 0.9rem;
  }
}

/*--------------------------------------------------------------
FORM-PENGADUAN.HTML
--------------------------------------------------------------*/
.laporan{
  box-sizing: border-box;
  margin: 0;
  background: #6D9773;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 10px;
  margin-top: -100px;
}

.laporan .container{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 450px;
  min-width: 370px;
  margin-top: 50px;
}

.laporan .card-container{
  padding-bottom: 30px;
}


.laporan table{
  margin: auto;
  margin-top: 50px;
}

.laporan .tbl-laporan tr td:first-child{
  padding-right: 10px;
}

.laporan .tbl-laporan td.title{
  font-size: 0.7rem;
  color: #0C3B2E;
}

.laporan .tbl-laporan .nobg{
  background-color: transparent;
}

.laporan .tbl-laporan td input, .laporan .tbl-laporan td textarea{
  background-color: rgb(230, 230, 230);
  color: #FFBA00;
  border: none;
  padding: 6px 4px;
  margin: 8px 0;
  width: 100%;
  font-size: 0.6rem;
}

.laporan .tbl-laporan td input::placeholder{
  color: #0C3B2E;
}

.laporan .tbl-laporan td textarea::placeholder{
  color: #0C3B2E;
}

.laporan .tbl-laporan td input:focus, .laporan .tbl-laporan td textarea:focus{
  outline: 1px solid #FFBA00;
}

.laporan button.kirim{
  border-radius: 20px;
  border: 1px solid #6D9773;
  background-color: #6D9773;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-out;
  cursor: pointer;
  margin-left: 35%;
  margin-top: 20px;
}

.laporan button.kirim:hover{
  opacity: 0.7;
  background-color: #FFBA00;
}

@media (max-width:350px) {
  .laporan table{
    margin: 0;
    margin-top: 50px;
  }
}
/* ukuran desktop */
@media (min-width:800px) {
  .laporan{
    box-sizing: border-box;
    margin: 0;
    background: #6D9773;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
    margin-top: -100px;
  }

  .laporan .container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 450px;
    min-width: 370px;
    margin-top: 50px;
  }

  .laporan .card-container{
    padding-bottom: 30px;
  }


  .laporan table{
    margin: auto;
    margin-top: 50px;
  }

  .laporan .tbl-laporan tr td:first-child{
    padding-right: 30px;
  }

  .laporan .tbl-laporan td.title{
    font-size: 1rem;
    color: #0C3B2E;
  }

  .laporan .tbl-laporan .nobg{
    background-color: transparent;
  }

  .laporan .tbl-laporan td input, .laporan .tbl-laporan td textarea{
    background-color: rgb(230, 230, 230);
    color: #FFBA00;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-size: 0.8rem;
  }

  .laporan .tbl-laporan td input::placeholder{
    color: #0C3B2E;
  }

  .laporan .tbl-laporan td textarea::placeholder{
    color: #0C3B2E;
  }

  .laporan .tbl-laporan td input:focus, .laporan .tbl-laporan td textarea:focus{
    outline: 1px solid #FFBA00;
  }

  .laporan button.kirim{
    border-radius: 20px;
    border: 1px solid #6D9773;
    background-color: #6D9773;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-out;
    cursor: pointer;
    margin-left: 45%;
    margin-top: 20px;
  }

  .laporan button.kirim:hover{
    opacity: 0.7;
    background-color: #FFBA00;
  }
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  margin-top: 20px;
  /* height: 30px; */
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(../img/hero-bgr.jpg);
  background-attachment: fixed;
  background-position: 1300px;
  width: 100%;
  background-size: cover;
}

#hero .container {
  position: relative;
  margin-left: 6%;
}
#hero h1 {
  margin-top: 100px;
  font-size: 30px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #FFBA00;
}
#hero p {
  color: #ffffff;
  margin: 10px 0 0 0;
  font-size: 15px;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 992px) {
  #hero {
    margin-bottom: 0;
    height: 100vh;
  }
  #hero .container {
    padding-bottom: 63px;
  }
  #hero h1 {
    font-size: 25px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media (max-height: 600px) {
  #hero {
    height: 110vh;
  }
}

@media (min-width: 800px) {
  #hero {
    width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("../img/hero-bgr.jpg") top center;
    background-size: cover;
    margin-bottom: -200px;
  }
  
  #hero .container {
    position: relative;
    margin-left: 10%;
  }
  #hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #FFBA00;
  }
  #hero p {
    color: #ffffff;
    margin: 10px 0 0 0;
    font-size: 15px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f1f7fd;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #2c4964;
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #1977cc;
  bottom: 0;
  left: calc(50% - 20px);
}
.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #f1f7fd;
  min-height: 40px;
  margin-top: 120px;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 100px;
  }
}
.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}
@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Visi Misi
--------------------------------------------------------------*/
/* 
.vismis .container h2{
  text-align: center;
  font-family: Poppins;
  font-size: 35px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0em;
  margin: 50px 0 0 30px;
}
.vismis .member {
  margin: 70px 50px 50px 50px;
  background-color: #ffffff;
  position: relative;
  box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.08);
  padding: 30px 50px;
  border-radius: 10px;
  width: 500px;
  height: 560px;
}
/* .vismis .pic {
  align-items: center;
  overflow: hidden;
  margin: 50px;
  width: 100%;
  border-radius: 0;
} */

.vismis .member .pic img {
  transition: ease-in-out 0.3s;
}
.vismis .member:hover img {
  transform: scale(1.1);
}
.vismis .member .member-info {
  padding-left: 30px;
}
.vismis .member .h4 {
  font-family: Poppins;
  font-size: 35px;
  font-weight: 400;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: 700;
  color: #0C3B2E;
}
.vismis .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}
.vismis .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b2c8dd;
  bottom: 0;
  left: 0;
}
.vismis .member p {
  margin: 10px 0 0 0;
  font-size: 15px;
} */


/*--------------------------------------------------------------
# profile
--------------------------------------------------------------*/

.profile {
  margin: 0px;
}
.profile .icon-boxes h4 {
  font-size: 18px;
  color: #609773;
  margin-bottom: 15px;
}
.profile .icon-boxes h3 {
  font-size: 28px;
  font-weight: 700;
  color: #0C3B2E;
  margin-bottom: 15px;
}
.profile .icon-box {
  margin-top: 40px;
}
.profile .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #609773;
  border-radius: 50px;
  transition: 0.5s;
}
.profile .icon-box .icon i {
  color: #609773;
  font-size: 32px;
}
.profile .icon-box:hover .icon {
  background: #609773;
  border-color: #609773;
}
.profile .icon-box:hover .icon i {
  color: #fff;
}
.profile .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}
.profile .icon-box .title a {
  color: #0C3B2E;
  transition: 0.3s;
}
.profile .icon-box .title a:hover {
  color: #609773;
}
.profile .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}

#profile .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 20px;
  margin: 5px 0 0 8px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #609773;
  width: fit-content;
}
#profile .btn-get-started:hover {
  background: #0C3B2E;
}

#profile .img-fluid {
  margin-top: 10%;
}

.profile .row.container.justify-content-center{
  margin: auto;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Sisper
--------------------------------------------------------------*/
.sisper {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  padding-bottom: 30px;
}

.sisper .img {
  width: 100%;
}

.sisper .word{
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  padding-top: 50px;
}

.row.container.justify-content-center{
  margin: auto;
}

@media (max-width: 992px) {
  .sisper .nav-link {
    border: 0;
    padding: 15px;
  }
  .sisper .nav-link.active {
    color: #fff;
    background: #609773;
  }
}

/*--------------------------------------------------------------
# VIsi misi
--------------------------------------------------------------*/
.row.potensi-wilayah-batas.visi-misi.justify-content-center{
  width: 80%;
  margin: auto;
}

/*--------------------------------------------------------------
# Location
--------------------------------------------------------------*/
.pin {
  width: 100%;
  padding: 30px 25px 25px 30px;
  background: #fff;
}

.pin h2 {
  font-family: Poppins;
  font-size: 35px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: center;
}

/* /* --------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/

.why-us .container {
  margin-left: 20%;
}
.why-us .icon-boxes .icon-box {
  text-align: center;
  border-radius: 10px;
  background: #609773;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 60px;
  width: 80%;
}
.why-us .icon-boxes .icon-box i {
  font-size: 40px;
  color: #FFBA00;
}
.why-us .icon-boxes .icon-box h4 {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
/*
.about {
  margin: 0px;
}
.about .icon-boxes h4 {
  font-size: 18px;
  color: #4b7dab;
  margin-bottom: 15px;
}
.about .icon-boxes h3 {
  font-size: 28px;
  font-weight: 700;
  color: #2c4964;
  margin-bottom: 15px;
}
.about .icon-box {
  margin-top: 40px;
}
.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #8dc2f1;
  border-radius: 50px;
  transition: 0.5s;
}
.about .icon-box .icon i {
  color: #1977cc;
  font-size: 32px;
}
.about .icon-box:hover .icon {
  background: #1977cc;
  border-color: #1977cc;
}
.about .icon-box:hover .icon i {
  color: #fff;
}
.about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}
.about .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}
.about .icon-box .title a:hover {
  color: #1977cc;
}
.about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}

#about .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin: 5px 0 0 15px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #609773;
}
#about .btn-get-started:hover {
  background: #0C3B2E;
}

#about .img-fluid {
  margin-top: 10%;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
} */

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #FFBA00;
  font-size: 14px;
  background: #f1f7fd;
}
#footer .footer-top {
  padding: 150px 0 70px 0;
  background: #0C3B2E;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

@media (max-width:800px){
  #footer .footer-top {
    padding: 70px 0;
  }
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 5px;
  padding: 2px 0 2px 0;
  line-height: 3;
  font-weight: 900;
  color: #ffffff;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

#footer .map {
  position: absolute;
  margin-left: auto;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter {
  font-size: 15px;
}
#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #bfdcf7;
}
#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #0C3B2E;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}
#footer .footer-newsletter form input[type=submit]:hover {
  background: #1c84e3;
}
#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #0C3B2E;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .social-links a:hover {
  background: #1c84e3;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 800px) {
  #footer {
  color: #FFBA00;
  font-size: 14px;
  background: #f1f7fd;
}
#footer .footer-top {
  padding: 150px 0 70px 0;
  background: #0C3B2E;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 5px;
  padding: 2px 0 2px 0;
  line-height: 3;
  font-weight: 900;
  color: #ffffff;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

#footer .map {
  position: absolute;
  margin-left: 60%;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter {
  font-size: 15px;
}
#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #bfdcf7;
}
#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #0C3B2E;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}
#footer .footer-newsletter form input[type=submit]:hover {
  background: #1c84e3;
}
#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #0C3B2E;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .social-links a:hover {
  background: #1c84e3;
  color: #fff;
  text-decoration: none;
}
}